<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Dokdo|Gloria+Hallelujah|Indie+Flower|Kalam|Merienda" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/foundation.css">
    <link rel="stylesheet" href="/css/v-fonts.css"> -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/r-nav.css">
  </head>
  <body>
