<% include partials/header %>

<div class="wrap">
  <h1 class="text-center title">Atoms</h1>
</div>

<% include partials/01-atoms/colors %>

<% include partials/01-atoms/text %>


<% include partials/footer %>
