@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX-(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translatey(3rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Gloria+Hallelujah", cursive;
  line-height: 1.7;
  color: #2E282A;
  padding: .5rem;
  box-sizing: border-box; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.heading-primary {
  color: #f6f5f5;
  margin-bottom: 3rem;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    text-shadow: 0.05em 0.05em 0.08em #000, 0.08em 0.08em 0.1em #2E282A; }

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-linear-gradient(right bottom, #004040, #00A6A6, #40ffff);
  background-image: -o-linear-gradient(right bottom, #004040, #00A6A6, #40ffff);
  background-image: linear-gradient(to right bottom, #004040, #00A6A6, #40ffff);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .4rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.paragraph {
  font-size: 1.25rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 1.5rem; }

.grid-3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  padding: 0; }

.brand-primary-l {
  background: #CD5334;
  color: #f6f5f5; }

.brand-primary-d {
  background: #CD5334;
  color: #2E282A; }

.brand-secondary-l {
  background: #CC8800;
  color: #f6f5f5; }

.brand-secondary-d {
  background: #CC8800;
  color: #2E282A; }

.brand-thrird-l {
  background: #00A6A6;
  color: #f6f5f5; }

.brand-thrird-d {
  background: #00A6A6;
  color: #2E282A; }

.brand-fourth-l {
  background: #6f732f;
  color: #f6f5f5; }

.brand-fourth-d {
  background: #6f732f;
  color: #2E282A; }

.base-dark {
  background: #2E282A;
  color: #f6f5f5; }

.base-light {
  background: base-light;
  color: #2E282A; }

.black {
  background: black;
  color: #f6f5f5; }

.white {
  background: white;
  color: #2E282A; }

.brand {
  font-size: 1.5em; }

.logo {
  color: #CC8800;
  text-shadow: 0.05em 0.05em 0.08em #000, 0.08em 0.08em 0.1em #2E282A;
  font-family: "Merienda", cursive; }

.header-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  position: relative; }
  .header-btn:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(46, 40, 42, 0.2); }
    .header-btn:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0; }
  .header-btn:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 0.1rem rgba(46, 40, 42, 0.2); }
  .header-btn--white {
    background-color: #f6f5f5;
    color: #2E282A; }
    .header-btn--white::after {
      background-color: #f6f5f5; }
  .header-btn--brand-secondary-l {
    background-color: #CC8800;
    color: #f6f5f5; }
    .header-btn--brand-secondary-l::after {
      background-color: #CC8800; }
  .header-btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s; }
  .header-btn--animated {
    animation: moveInbottom .5s ease-out .75s;
    animation-fill-mode: backwards; }

.composition {
  position: relative; }
  .composition__photo {
    width: 55%;
    box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.4);
    border-radius: .1rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem; }
    .composition__photo--p1 {
      left: 0;
      top: 1rem; }
    .composition__photo--p2 {
      right: 0;
      top: 4rem; }
    .composition__photo--p3 {
      left: 20%;
      top: 10rem; }
    .composition__photo:hover {
      outline: 1rem solid #00A6A6;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 0.7rem 2rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.color-box {
  border-radius: 3px;
  padding: 1em;
  font-size: 120%;
  margin: .5em;
  text-align: center; }

.header {
  height: 95vh;
  background-image: -webkit-linear-gradient(bottom right, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/KOKO_Poster.jpg);
  background-image: -o-linear-gradient(bottom right, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/KOKO_Poster.jpg);
  background-image: linear-gradient(to top left, rgba(204, 136, 0, 0.5), rgba(0, 166, 166, 0.8)), url(../img/KOKO_Poster.jpg);
  background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%); }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-about {
  background-color: #fff3db;
  padding-top: 15rem;
  margin-top: -20vh; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.grid-box {
  background-color: red;
  color: #fff; }

/*# sourceMappingURL=app.css.map */
