.header-btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  // border: 0;
  // transition: all .3s;
  position: relative;
  &:hover {
    transform: translateY(-.3rem);
    box-shadow: 0 1rem 2rem rgba($base-dark,.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active {
    transform: translateY(-.1rem);
    box-shadow: 0 .5rem .1rem rgba($base-dark,.2);
  }
  &--white {
    background-color: $base-light;
    color: $base-dark;
    &::after {
      background-color: $base-light;
    }
  }
  &--brand-secondary-l {
    background-color: $brand-secondary;
    color: $base-light;
    &::after {
      background-color: $brand-secondary;
    }
  }
  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
  }
  &--animated {
    animation: moveInbottom .5s ease-out .75s;
    animation-fill-mode: backwards;
  }
}
