
@mixin color($background, $text: $base-dark) {
  background: $background;
  color: $text;
}

.brand-primary-l {
  @include color($brand-primary, $base-light)
}
.brand-primary-d {
  @include color($brand-primary)
}

.brand-secondary-l {
  @include color($brand-secondary, $base-light)
}
.brand-secondary-d {
  @include color($brand-secondary)
}

.brand-thrird-l {
  @include color($brand-thrird, $base-light)
}
.brand-thrird-d {
  @include color($brand-thrird)
}

.brand-fourth-l {
  @include color($brand-fourth, $base-light)
}
.brand-fourth-d {
  @include color($brand-fourth)
}

.base-dark {
  @include color($base-dark, $base-light)
}
.base-light {
  @include color(base-light)
}

.black {
  @include color(black, $base-light)
}
.white {
  @include color(white)
}
