.composition {
  position: relative;
  &__photo {
    width: 55%;
    box-shadow:  0 .7rem 2rem rgba($black, .4);
    border-radius: .1rem;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1rem;
    &--p1 {
      left: 0;
      top: 1rem;
    }
    &--p2 {
      right: 0;
      top: 4rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
    &:hover {
      outline: 1rem solid $brand-thrird;
      transform: scale(1.05) translateY(-.5rem);
      box-shadow: 0 .7rem 2rem rgba($black, .5);
      z-index: 20;
    }
  }
  &:hover &__photo:not(:hover) {
    transform: scale(.95);
  }
}
