.heading-primary {
  color: $base-light;
  // text-transform: uppercase;
  margin-bottom: 3rem;
  backface-visibility: hidden; // remove shacking in animation
  &--main {
    display: block;
    font-size: 8rem;
    font-weight: 400;
    letter-spacing: 2rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out;
    text-shadow: .05em .05em .08em $black, .08em .08em .1em $base-dark;
  }
}

.heading-secondary {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-linear-gradient(right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
  background-image: -o-linear-gradient(right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
  background-image: linear-gradient(to right bottom, darken( $brand-thrird, 20% ), $brand-thrird, lighten( $brand-thrird, 30% ));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .4rem;
  transition: all .2s;

  &:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgba($black, .2);
  }
}

// .heading-teriary {
//   // font-size: $default-font-size;
//   font-weight: 700;
//   text-transform: uppercase;
// }

.paragraph {
  font-size: $default-font-size;
  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}
