<div class="header__text-box">
  <h1 class="heading-primary">
    <span class="heading-primary--main">Outdoors</span>
    <span class="heading-primary--sub">Is where life happens</span>
  </h1>
  <!-- <a type="button" class="btn btn-white" name="button">Discover Our Tours</a> -->
  <button type="button" class="btn btn--white btn--animated" name="button">Discover Our Tours</button>
</div>  <!-- text-box -->
