.header {
  height: 95vh;
  // background-image: url(../img/KOKO_Poster.jpg);
  // background-image: linear-gradient(bottom right, rgba($color-primary-light, .8), rgba($brand-thrird, .8)), url(../img/hero.jpg);
  background-image: -webkit-linear-gradient(bottom right, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/KOKO_Poster.jpg);
  background-image: -o-linear-gradient(bottom right, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/KOKO_Poster.jpg) ;
  background-image: linear-gradient(to top left, rgba($brand-secondary, .5), rgba($brand-thrird, .8)), url(../img/KOKO_Poster.jpg)  ;
  background-size: cover;
  background-position: bottom;
  position: relative;
  clip-path: polygon(0 0,100% 0,100% 100%,0 80%);
  // clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  // &__logo-box {
  //   position: absolute;
  //   top: 4rem;
  //   left: 4rem;
  // }
  // &__logo {
  //   height: 3.5rem;
  // }
  &__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }

}
