<section>
  <h2>Color</h2>
  <div class="grid-3">
  <% colors.forEach(function(color){ %>
    <!-- <li>
      <%= color.color %>
    </li> -->
    <div class="<%= color.color %> color-box">
        <%= color.color %>
    </div>
  <% }) %>
    </div>
</section>
