<main>
  <section class="section-about">
    <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">KOKO the Movie</h2>
    </div>
    <div class="row">
      <div class="col-1-of-2">
        <p class="paragraph">This is an extraordinary love story with a triumphant and spectacularly happy ending. It is about a young accounting graduate RANDY, living through life issues from heart- break to job loss...</p>
        <p class="paragraph"> ... Randy later adopts a dog named KOKO and with the gentle companionship of a trusted friend Randy heals from life’s wounds. Randy had bonded immediately with Koko the first time they were introduced. Like all pure and natural love does, concern and empathy with Koko blossoms.</p>
        <p class="paragraph">It's innocent and pure in nature, with no malice or designs on self gain or otherwise. His relationship with KoKo is purely one of the emotion called LOVE. The concern is demonstrably reciprocated. Randy feels a connection so strong with Koko that the only way he can express his commitment to take care of and protect her is through marriage...</p>
        <p class="paragraph">As time progresses Randy files a case in court to get a license to be legally married with Koko and so this novel tale begins.</p>
        <button class="btn-text">Learn more &rarr;</button>
      </div>

      <div class="col-1-of-2">
        <img src="" alt="">
        <div class="composition">
          <img src="\img\pic1.jpg" alt="Photo 1" class="composition__photo composition__photo--p1">
          <img src="\img\pic2.jpg" alt="Photo 2" class="composition__photo composition__photo--p2">
          <img src="\img\pic2.jpg" alt="Phono 3" class="composition__photo composition__photo--p3">
        </div>
      </div>
    </div>

  </section>
</main>
