<header class="header">
  <!-- <div class="header__logo-box"><span class="logo"> KOKO</span></div> -->

    <div class="header__text-box">
      <h1 class="heading-primary">
        <span class="heading-primary--main logo">KOKO</span> 
        <span class="heading-primary--sub">How Far You Can Go To Pay Tribute To Your Love?</span>
      </h1>
      <!-- <a type="button" class="btn btn-white" name="button">Discover Our Tours</a> -->
      <button type="button" class="header-btn header-btn--brand-secondary-l header-btn--animated" name="button">See Trailers</button>
    </div>  <!-- text-box -->

</header>
