//Glodal Variables


//Colors
$brand-primary:         #CD5334;
$brand-secondary:       #CC8800;
$brand-thrird:          #00A6A6;
$brand-fourth:          #6f732f;
$base-dark:             #2E282A;
$base-light:            #f6f5f5;


$black:                 #000;
$white:                 #fff;

//font
// $font-family-main:      'Merienda', cursive;
// $font-family-main:      'Indie+Flower', cursive;
$font-family-main:      'Gloria+Hallelujah', cursive;
$font-family-logo:      'Merienda', cursive;
$default-font-size:      1.25rem;

//grids
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
