@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
 80% {
    transform: translateX(2rem);
 }
 100% {
   opacity: 1;
   transform: translateX(0);
 }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
 80% {
    transform: translateX-(2rem);
 }
 100% {
   opacity: 1;
   transform: translateX(0);
 }
}

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translatey(3rem);
  }
 100% {
   opacity: 1;
   transform: translateX(0);
 }
}
