* ,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // font-size: 130%;
  font-size: 62.5%;
}

body {
  font-family: $font-family-main;
  // font-size: 62.5%;
  line-height: 1.7;
  color: $base-dark;
  padding: .5rem;
  box-sizing: border-box;

}
